/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #595959;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  color: #404040;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  margin: auto;
}
.nav-container {
  width: 90%;
  max-width: 1150px;
  margin: auto;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 10px;
  border-radius: 1rem;
  margin: 10px auto;
}
@media (max-width: 500px) {
  .nav-container {
    width: 100%;
    margin: 0px;
    border-radius: 0;
  }
}
.nav-container img {
  width: 250px;
  padding: 15px;
}
@media (max-width: 500px) {
  .nav-container img {
    width: 200px;
  }
}
.nav-container nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 500px;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .nav-container nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 0px;
  }
}
.nav-container nav a {
  text-decoration: none;
  color: #404040;
}
@media (max-width: 500px) {
  .nav-container nav a {
    padding: 10px 0px;
    border-top: 1px solid #404040;
    width: 100%;
  }
}
.home {
  height: 2000px;
  width: 90%;
  max-width: 1150px;
  margin: auto;
  text-align: center;
}
@media (max-width: 500px) {
  .home {
    width: 95%;
  }
}
.home .top-image {
  width: 100%;
  max-width: 800px;
  margin: auto;
  box-shadow: 2px 2px 10px;
  border-radius: 1rem;
  margin: 10px auto;
}
@media (max-width: 500px) {
  .home .top-image1 {
    display: none;
  }
}
.home .top-image2 {
  display: none;
}
@media (max-width: 500px) {
  .home .top-image2 {
    display: inline;
  }
}
.home .section1 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.home .section1 > div {
  width: 30%;
  min-width: 275px;
  height: auto;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 10px;
  border-radius: 1rem;
  margin: 10px auto;
}
@media (max-width: 500px) {
  .home .section1 > div {
    width: 100%;
  }
}
.home .section1 > div h4 {
  padding: 10px;
  text-align: center;
}
.home .section1 > div img {
  width: 100%;
}
.home .section1 > div .learn-more-container {
  padding: 7px 0px;
  text-align: center;
}
.home .section1 > div .learn-more-container div {
  display: none;
}
.home .section1 .section1-1-active,
.home .section1 .section1-2-active,
.home .section1 .section1-3-active {
  width: 100%;
}
@media (min-width: 501px) {
  .home .section1 .section1-1-active,
  .home .section1 .section1-2-active,
  .home .section1 .section1-3-active {
    order: -1;
  }
}
.home .section1 .section1-1-active div,
.home .section1 .section1-2-active div,
.home .section1 .section1-3-active div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .home .section1 .section1-1-active div,
  .home .section1 .section1-2-active div,
  .home .section1 .section1-3-active div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.home .section1 .section1-1-active div img,
.home .section1 .section1-2-active div img,
.home .section1 .section1-3-active div img {
  width: 50%;
}
@media (max-width: 500px) {
  .home .section1 .section1-1-active div img,
  .home .section1 .section1-2-active div img,
  .home .section1 .section1-3-active div img {
    width: 100%;
  }
}
.home .section1 .section1-1-active div div,
.home .section1 .section1-2-active div div,
.home .section1 .section1-3-active div div {
  width: 50%;
  text-align: center;
}
.home .section1 .section1-1-active div div h6,
.home .section1 .section1-2-active div div h6,
.home .section1 .section1-3-active div div h6 {
  display: none;
}
@media (max-width: 500px) {
  .home .section1 .section1-1-active div div,
  .home .section1 .section1-2-active div div,
  .home .section1 .section1-3-active div div {
    width: 100%;
  }
}
.home .section1 .section1-1-active div div div,
.home .section1 .section1-2-active div div div,
.home .section1 .section1-3-active div div div {
  display: block;
  width: 100%;
}
.home .section1 .section1-1-active div div div ul,
.home .section1 .section1-2-active div div div ul,
.home .section1 .section1-3-active div div div ul {
  font-size: 2rem;
  width: 100%;
  color: #404040;
}
@media (max-width: 500px) {
  .home .section1 .section1-1-active div div div ul,
  .home .section1 .section1-2-active div div div ul,
  .home .section1 .section1-3-active div div div ul {
    font-size: 1.75rem;
  }
}
.home .section1 .section1-1-active div div div ul li,
.home .section1 .section1-2-active div div div ul li,
.home .section1 .section1-3-active div div div ul li {
  padding: 15px;
  font-weight: 800;
}
.home .section1 .section1-1-active div div button,
.home .section1 .section1-2-active div div button,
.home .section1 .section1-3-active div div button {
  margin: 25px auto 10px;
  width: 50%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #ee8819;
  font-size: 1.5rem;
}
