// Home Content

.home {
  .width(90%, 1150px);
  text-align: center;

  @media @phone {
    width: 95%;
  }

  .top-image {
    .width(100%, 800px);
    .shadowRadius();
  }

  .top-image1 {
    @media @phone {
      display: none;
    }
  }

  .top-image2 {
    display: none;
    @media @phone {
      display: inline;
    }
  }

  .section1 {
    .flexProperties(space-between, row, wrap);

    > div {
      width: 30%;
      min-width: 275px;
      height: auto;
      background-color: @nav-bg-color;
      .shadowRadius();

      @media @phone {
        width: 100%;
      }

      h4 {
        padding: 10px;
        text-align: center;
      }

      img {
        width: 98%;
      }

      .learn-more-container {
        padding: 7px 0px;
        text-align: center;

        .learn-more-button {
          width: 75%;
          padding: 5px;
          background-color: @btn-color;
          border: none;
          box-shadow: 1px 1px 5px;

          &:hover {
            box-shadow: 0px 0px 0px;
          }

          &:active {
            box-shadow: 0px 0px 0px;
          }
        }

        div {
          display: none;
        }
      }
    }

    .section1-1-active,
    .section1-2-active,
    .section1-3-active {
      width: 100%;

      @media @desktop {
        order: -1;
      }

      div {
        .flexProperties(space-between, row, nowrap);
        @media @phone {
          .flexProperties(space-between, column, nowrap);
        }
        img {
          width: calc(50% - 10px);
          margin: auto auto 10px 10px;

          @media @phone {
            width: 98%;
            margin: auto;
          }
        }

        div {
          width: 50%;
          text-align: center;

          .learn-more-button {
            display: none;
          }

          @media @phone {
            width: 100%;
          }

          div {
            display: block;
            width: 100%;
            ul {
              font-size: 2rem;
              width: 100%;
              color: @font-color;

              @media @phone {
                font-size: 1.75rem;
              }

              li {
                padding: 15px;
                font-weight: 800;
              }
            }
          }

          button {
            margin: 25px auto 10px;
            width: 50%;
            padding: 5px;
            background-color: @btn-color;
            border: none;
            box-shadow: 1px 1px 5px;

            &:hover {
              box-shadow: 0px 0px 0px;
            }

            &:active {
              box-shadow: 0px 0px 0px;
            }
          }
        }
      }
    }
  }

  .bottom-image {
    .width(100%, 800px);
    .shadowRadius();
  }

  .bottom-image1 {
    @media @phone {
      display: none;
    }
  }

  .bottom-image2 {
    display: none;
    @media @phone {
      display: inline;
    }
  }

  .section2 {
    .flexProperties(space-between, row, wrap);

    > div {
      width: 100%;
      min-width: 275px;
      height: auto;
      background-color: @nav-bg-color;
      .shadowRadius();

      .about-content {
        width: 75%;
        margin: auto;
        padding: 10px;

        h4 {
          text-align: center;
        }

        p {
          padding: 15px 0px 25px;
          text-align: left;
          color: @font-color;
        }

        .orange-text {
          color: green;
          font-weight: bold;
        }
      }
    }
  }
}

// test
